#cor1{
    color: rgb(255, 255, 255);
}
#cor2{
    color: rgb(255, 255, 255);
}
#cor3{
    color: rgb(255, 255, 255);
}
#Drop-1-legenda{
   margin-left: 43%;
   font-family: inherit;
   font-size: 30px;
   font-weight: 500;
   line-height: 1.1;
   color: inherit;
   margin-top: 10%;
   margin-bottom: 10px;
}
#link{
    font-size: 15px;
}
#footer{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
     border-color: #ffffff;
     border-radius: 1px;
    font-family: 'Fredoka', sans-serif ;
}
#container-owl{
    margin-left: 44%;
    font-size: 15px;
    color: #8f8f8f;
    font-family: raleway,sans-serif;
    font-style: italic;
    height: 38px;
    display: inline-block;
    overflow: hidden;
   position: relative;
   text-overflow: ellipsis;
  
}
#ig{
    width: 40px;
    margin-top: 15%;
}
#github{
    width: 52px;
   
}
