#cor1{
    color: rgb(255, 255, 255);
}
#cor2{
    color: rgb(255, 255, 255);
}
#cor3{
    color: rgb(255, 255, 255);
}
#Drop-1-legenda{
   margin-left: 43%;
   font-family: inherit;
   font-size: 30px;
   font-weight: 500;
   line-height: 1.1;
   color: inherit;
   margin-top: 10%;
   margin-bottom: 10px;
}
#link{
    font-size: 15px;
}
#footer{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
     border-color: #ffffff;
     border-radius: 1px;
    font-family: 'Fredoka', sans-serif ;
}
#container-owl{
    margin-left: 43%;
    font-size: 17px;
    color: #8f8f8f;
    font-family: raleway,sans-serif;
    font-style: italic;
    height: 38px;
    display: inline-block;
    overflow: hidden;
   position: relative;
   text-overflow: ellipsis;
  
}
#ig{
    width: 40px;
    margin-top: 15%;
}
#img-barra{
    margin-left: 45%;
    height: 15px;
    margin-bottom: 10%;

}
.conteiner{
    display: flex;
    justify-content: center;
}
.card{
    margin-right: 20px;
   margin-top: -100px;
    width: 300px;
    border-radius: 20px;
   margin-bottom: 500px;
    height: 500px;
    background-color: #202020;
}
.btn{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    transition: 1s;
    background-color: #d1c4ad;
    color: #d1c4ad;
    cursor: pointer;
}
